<div class="loadout-container">
  <div class="loadout-box">
    <img class="loadout-element" (click)="selectPart('ship')" src="{{selectedShip.iconUri}}">
  </div>
  <div *ngIf="shipSelected()" class="loadout-box">
    <img class="loadout-element" (click)="getWeaponSlot('Primary')" src="{{selectedWeapons[0].iconUri}}">
    <img class="loadout-element" (click)="getWeaponSlot('Secondary')" src="{{selectedWeapons[1].iconUri}}">
  </div>
  <div *ngIf="shipSelected()" class="loadout-box">
    <img class="loadout-element" (click)="getAbility('Primary')" src="{{selectedAbilities[0].iconUri}}">
    <img class="loadout-element" (click)="getAbility('Secondary')" src="{{selectedAbilities[1].iconUri}}">
    <img class="loadout-element" (click)="getAbility('Perimeter')" src="{{selectedAbilities[2].iconUri}}">
    <img class="loadout-element" (click)="getAbility('Internal')" src="{{selectedAbilities[3].iconUri}}">
  </div>
  <div *ngIf="shipSelected()">
    <img class="loadout-element" (click)="getPerk('Communications')" src="{{selectedPerks[0].iconUri}}">
    <img class="loadout-element" (click)="getPerk('Navigation')" src="{{selectedPerks[1].iconUri}}">
    <img class="loadout-element" (click)="getPerk('Engineering')" src="{{selectedPerks[2].iconUri}}">
    <img class="loadout-element" (click)="getPerk('Weapons')" src="{{selectedPerks[3].iconUri}}">
  </div>
</div>
<div *ngIf="currentLoadoutElement == 'ship'" class="part-picker">
  <div *ngFor="#ship of ships" class="part-picker-element">
    <img src="{{ship.iconUri}}" (click)="selectShip(ship)">
    <span>{{ship.name}}</span>
  </div>
</div>
<div *ngIf="currentLoadoutElement == 'weapon'" class="part-picker">
  <div *ngFor="#weapon of slotWeapons" class="part-picker-element">
    <img src="{{weapon.iconUri}}" (click)="selectWeapon(weapon)">
    <span>{{weapon.name}}</span>
  </div>
</div>
<div *ngIf="currentLoadoutElement == 'ability'" class="part-picker">
  <div *ngFor="#ability of slotAbilities" class="part-picker-element">
    <img src="{{ability.iconUri}}" (click)="selectAbility(ability)">
    <span>{{ability.name}}</span>
  </div>
</div>
<div *ngIf="currentLoadoutElement == 'perk'" class="part-picker">
  <div *ngFor="#perk of slotPerks" class="part-picker-element">
    <img src="{{perk.iconUri}}" (click)="selectPerk(perk)">
    <span>{{perk.name}}</span>
  </div>
</div>